# SPDX-License-Identifier: GPL-2.0-only
config CONNAC_COMMON
	select MT76_CORE
	tristate

config MT7663E
	tristate "MediaTek MT7663E (PCIE) support"
	select CONNAC_COMMON
	depends on MAC80211
	depends on PCI
	help
	  This adds support for MT7663E wireless devices.

	  To compile this driver as a module, choose M here.

config MT7663U
	tristate "MediaTek MT7663U (USB) support"
	select CONNAC_COMMON
	select MT76_USB
	depends on MAC80211
	depends on USB
	help
	  This adds support for MT7663U wireless devices.

	  To compile this driver as a module, choose M here.
